{% extends 'base.html' %}

{% block title %}
Drones |
{% endblock %}

{% block content %}
<section class="min-h-screen bg-gradient-to-bl from-slate-800 to-red-700 pt-[120px]">
<div class="max-w-[1800px] mx-auto">
    <h1 class="text-slate-400 lg:text-8xl md:text-6xl leading-none border-b border-slate-600 ml-[100px] mx-auto">Drones</h1>
    <div class="w-full">

        {% for product in products %}
        <div class="w-full">
            <img src="{{product.image}}" alt="product-image">
            <h2 class="">{{product.title}}</h2>

        </div>
        {% endfor %}

    </div>
</div>

</section>
{% endblock %}