{% extends 'base.html' %}

{% block title %}
Drones |
{% endblock %}

{% block content %}
<section class="min-h-screen bg-gradient-to-b from-[#1B1F3B] via-[#2C2F4A] to-[#0B0D16]
 pt-[120px]">
    <div class="max-w-[1800px] mx-auto py-10">
        <h1 class="text-slate-400 lg:text-8xl md:text-6xl leading-none border-b border-slate-600 ml-[100px]">Drones</h1>
        <div class="w-full grid 2xl:grid-cols-3 3xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-5 mx-auto px-[100px] gap-5">

            {% for product in products %}
            <div class="flex flex-col items-center justify-center text-center text-white py-10 bg-white/10 gap-3 backdrop-blur-lg border border-white/20
                rounded-2xl shadow-xl shadow-black/30          ">
                <img class="h-[300px] w-[300px] rounded-md" src="{{product.image.url}}" alt="product-image">
                <h2 class="text-3xl">{{product.title}}</h2>
                <p>From ₹{{product.price}}</p>
                <p>{{product.short_description}}</p>
                <a href="{% url 'product-detail' product.title product.id %}">
                    <div class="w-[200px] bg-black p-2 text-center rounded-md">Learn More</div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>

</section>
{% endblock %}