{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Iceland&family=Irish+Grover&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0&icon_names=search" /> -->

<body class="font-iceland md:text-lg lg:text-xl overflow-x-hidden">
    <nav class="bg-black px-3 py-6 text-white w-screen fixed top-0 z-50">
        <div class="max-w-[1600px] mx-auto flex items-center md:justify-center md:gap-24 3xl:justify-between ">
            <div class="w-[80px]">
                <a href="{% url 'home' %}">
                    <span class="font-grover md:text-xl lg:text-4xl text-red-700">
                        Logo
                    </span>
                </a>

            </div>
            <ul id="navlinks" class="flex items-center justify-center md:gap-10 3xl:gap-20 ">
                <li class="animate-border hover:border-b hover:border-red-600 "><a class="" href="{% url 'product' 'drones' %}">Drones</a></li>
                <li class="animate-border hover:border-b hover:border-red-600 "><a class="" href="#">Robots</a></li>
                <li class="animate-border hover:border-b hover:border-red-600 "><a class="" href="#">Camera</a></li>
                <li class="animate-border hover:border-b hover:border-red-600 "><a class="" href="#">Spare Parts</a>
                </li>
                <li class="animate-border hover:border-b hover:border-red-600 "><a class="" href="#">Underwater
                        Drones</a></li>
                <li class="animate-border hover:border-b hover:border-red-600 "><a class="" href="#">Propulsion</a></li>
                <li class="animate-border hover:border-b hover:border-red-600 "><a class="" href="#">Composite</a></li>
            </ul>
            <div class=" flex items-center justify-center gap-8">
                <a class="" href="{% url 'login' %}"><i class="fa-solid fa-user text-2xl"></i></a>
                <a href="{% url 'cart_detail' %}"><i class="fa-brands fa-opencart text-2xl"></i></a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock%}

    <footer class=" bg-black text-white p-10">
        <div class="max-w-[1700px] mx-auto grid grid-cols-1 md:grid-cols-2">
            <div class=" flex flex-col items-center">
                <img class="h-[80px] w-[150px] shadow-lg shadow-red-700/40" src="{% static 'images/logo.png' %}" alt="">
                <div class="w-full grid md:grid-cols-3">
                    <ul class=" p-10 flex flex-col gap-5">
                        <li><a href="{}">Home</a></li>
                        <li><a href="{}">About Us</a></li>
                        <li><a href="{}">Services</a></li>
                        <li><a href="{}">History</a></li>
                        <li class="border-r border-red-700"><a href="{}">Partner Brands</a></li>
                    </ul>

                    <ul class=" p-10 flex flex-col gap-5">
                        <li><a href="{}">Media</a></li>
                        <li><a href="{}">Jobs</a></li>
                        <li><a href="{}">Privacy Policy</a></li>
                        <li><a href="{}">Code of Cunduct</a></li>
                        <li class="border-r border-red-700"><a href="{}">Partner Brands</a></li>
                    </ul>
                    <ul class=" p-10 flex flex-col gap-5">
                        <li><a href="{}">Media</a></li>
                        <li><a href="{}">Jobs</a></li>
                        <li><a href="{}">Privacy Policy</a></li>
                        <li><a href="{}">Code of Cunduct</a></li>
                        <li class="border-r border-red-700"><a href="{}">Partner Brands</a></li>
                    </ul>
                    <ul class=" p-10 flex flex-col gap-5">
                        <li><a href="{}">Media</a></li>
                        <li><a href="{}">Jobs</a></li>
                        <li><a href="{}">Privacy Policy</a></li>
                        <li><a href="{}">Code of Cunduct</a></li>
                        <li class="border-r border-red-700"><a href="{}">Partner Brands</a></li>
                    </ul>
                </div>

            </div>
            <div>

            </div>
        </div>
        <div class=" w-full text-center">© 2025 SkyNet | All rights reserved.</div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"
        integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/imgUpdate.js' %}"></script>
    <script src="{% static 'js/gsap.js' %}"></script>
</body>

</html>