{% extends 'base.html' %}

{% block title %}
Check Your Email | Nexora
{% endblock %}

{% block content %}
<section class="bg-gradient-to-t from-slate-900 to-slate-800 min-h-screen flex items-center justify-center">

    <div class="bg-black p-8 rounded-xl shadow-lg w-[400px] text-center flex flex-col gap-6">
        <div class="flex justify-center">
            <div class="w-16 h-16 flex items-center justify-center rounded-full bg-blue-500/20">
                <svg class="w-8 h-8 text-blue-500" fill="none" stroke="currentColor" stroke-width="2"
                     viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3 8l9 6 9-6M4 6h16a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V8a2 2 0 012-2z"/>
                </svg>
            </div>
        </div>
        <h2 class="text-white text-2xl font-semibold">
            Check Your Email
        </h2>
        <p class="text-gray-400 text-sm sm:text-xl">
            If an account exists with the email you entered, you will receive a password reset link shortly.
        </p>
        <p class="text-sm text-gray-500">
            Didn’t receive the email? Check your spam folder or try again.
        </p>
        <div class="flex flex-col items-center justify-center gap-2">
            <a href="{% url 'password_reset' %}"
               class="text-blue-400 text-sm sm:text-xl hover:underline">
                Try Again
            </a>

            <a href="/login/"
               class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition">
                Back to Login
            </a>
        </div>

    </div>

</section>
{% endblock %}